<div class="row">

	<section id="home">
	</section>

	<section id="documentation">
		<div class="page-header">
	    <h2>Documentation</h2>
	  </div>
	</section>

	<section id="formats">
	  <h3>Formats</h3>
	  <div class="well" style="margin-bottom: 9px;">
		  <ul>
				<li>JSON</li>
		  </ul>
	  </div>
	</section>


	<section id="proxies">
	  <h3>Proxies <small>:index, :show</small></h3>
		<div class="well" style="margin-bottom: 9px;">
			<ul>
				<li>GET: /api/proxies(.:format)</li>
		  	<li>GET: /api/proxies/:id(.:format)</li>
		  </ul>
		</div>
	</section>

</div>