<div class="row">
	<div class="row">
		<div class="col-md-12 clearfix">
      <%= Cmd::Config.last.attributes.reject{|a,v| a == "_id"} %>
		</div>
	</div>
	<hr/>
</div>

<div class="row">
	<div class="row">
			<div class="col-md-12 clearfix">
			<h3 class="col-md-6">Miners:
        <% miners_count = Cmd::Message.all.map(&:name).uniq.size%>
				<span class="badge badge-info"><%= miners_count %></span>
			<h3 class="col-md-6">Messages:
        <span class="badge badge-info"><%= Cmd::Message.count  %></span>
      </h3>
		</div>
	</div>
	<hr/>
</div>



<div class="row">
	<div class="row">
		<div class="col-md-12 clearfix">
			<% Cmd::Message.all.map(&:name).uniq.each do |miner_name| %>
				<div class="col-md-4">
					<h3 class="col-md-12">
						<%= link_to miner_name, admin_miner_path(miner_name) %>
						<small>              
              <% last_message = Cmd::Message.where(name: miner_name).last %>
              <% if last_message.proc_status.present? %>
  							<span class="badge badge-success">&nbsp;</span>
                <% if last_message.created_at < Cmd::Config.last.throttle.to_i.seconds.ago %>
                  <span class="badge badge-warning">&nbsp;</span>
                <% end %>                
              <% else %>
                <span class="badge badge-important">&nbsp;</span>
              <% end %>							
						</small>
					</h3>
          <small class="col-md-12"><tt><%= last_message.proc_status %><tt></small>
          
        </div>
			<% end %>
		</div>
	</div>
</div>
