/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree .
*/

.docs-def{
	border-bottom: 1px solid #fafafe;
}

.documentation section .docs, .documentation section .defs{
	text-align: left; height: 100%;
	padding: 6px 0;
	padding-right: 12px;
	margin-right: 12px;
}

.documentation section .defs{
	border-right: 1px solid #eee; background: #fafafe;
	padding-left: 30px;
}

.documentation section .docs{
	margin-left: 0px;
	padding-left: 0px;
}

.documentation section dd{
	padding-left: 0px;
	margin-left: 0px;
}

.omniauth-authorize:hover{
	text-decoration: none;
}
.omniauth-authorize i{
	font-size: 24px;
}

.proxy_from_timeline small.col-md-12{
	display:block;
	border-top: 1px solid #eee;
	margin-top: 10px;
	padding-left: 8px;
}
