/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree .
*/

.docs-def{
	border-bottom: 1px solid #fafafe;
}

.defs{
	border-right: 1px solid #f0f0f0; background: #fafafe;
	padding-right: 20px;
}

.documentation section .docs, .documentation section .defs{
	text-align: left; height: 100%;
	padding: 6px 0;
	padding-left: 0px;
	margin-left: 0px;
	padding-right: 12px;
	margin-right: 12px;
}